{% extends 'base.html' %}
{% block content %}

<div class="mx-5">
    <div class="card text-center">
        <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
            <a class="btn btn-primary mx-2" href="{% url 'customers' %}">Back</a>
            </li>
            <li class="nav-item">
            <a href="{% url 'deleteCustomers' customerInfo.id %}" class="btn btn-danger mx-2">Delete</a>
            </li>
            <li class="nav-item">
            <a href="{% url 'updateCustomers' customerInfo.id %}" class="btn btn-success mx-2">Edit</a>
            </li>
        </ul>
        </div>
        <div class="card-body">
        <h5 class="card-title">{{ customerInfo.name }}</h5>
        <p class="card-text">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                    <th scope="row">Email</th>
                    <td>{{ customerInfo.email }}</td>
                    </tr>
                    <tr>
                    <th scope="row">Address</th>
                    <td>{{ customerInfo.address }}, {{ customerInfo.city }}, {{ customerInfo.state }}, {{ customerInfo.zipcode }}</td>
                    </tr>
                    <tr>
                    <th scope="row">Small price</th>
                    <td>$0.00</td>
                    </tr>
                    <tr>
                    <th scope="row">Large price</th>
                    <td>$0.00</td>
                    </tr>
                </tbody>
            </table>
        </p>
        </div>
    </div>
</div>

{% endblock %}