{% extends 'base.html' %}

{% block content %}
  <body>
    <h1 class="container text-center mt-2">Customer List</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

  <!--Datalist-->
  <div class="container">
  <label for="customerList" class="form-label">Customer search</label>
  <input class="form-control" list="datalistOptions" id="customerList" placeholder="Type to search...">
  <datalist id="datalistOptions">
    <option value="Rubin Brothers">
    <option value="Best Tropical">
    <option value="Ted Georgallas">
    <option value="Top Banana">
  </datalist>
  </div>

  <!--Customer table-->
  <div class="container mt-3">
    <table class="table table-bordered table-hover text-center">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Customer name</th>
              <th scope="col">Address</th>
              <th scope="col">Small price</th>
              <th scope="col">Large price</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">1</th>
              <td>Rubin Brothers</td>
              <td>Hunts point market, Row A, Bronx, NY</td>
              <td>12</td>
              <td>20</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Top Banana</td>
            <td>Hunts point market, Row C, Bronx, NY</td>
            <td>13</td>
            <td>null</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Ted Georgallas</td>
            <td>Hunts point market, Row C, Bronx, NY</td>
            <td>14</td>
            <td>22</td>
          </tr>
      </tbody>
    </table>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal">
  Add new customer
</button>

<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="customerModalLabel">Add new customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingCustomer" placeholder="Argo Foods">
          <label for="floatingCustomer">Customer name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingAddress" placeholder="123 Adams Street, Brooklyn, NY, 11214">
          <label for="floatingAddress">Customer address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingSmall" placeholder="$XX.XX">
          <label for="floatingSmall">Small price</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingLarge" placeholder="$XX.XX">
          <label for="floatingLarge">Large price</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add customer</button>
      </div>
    </div>
  </div>
</div>

  </div>

  

  {% endblock %}